body {
    font-family: Arial, sans-serif;
    background-color: #241f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
 
   
}

.container {
    background-color:rgba(241, 238, 233,0.5);
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h2 {
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    text-decoration: none;
    color: #007bff;
}
.fail{
    display:none;
    color: red;
}
.usernotfound{
    display:none;
    color: red;
}
.conf{
    display: none;
    color: red;
}